.Layout {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

header {
    background: url(../../assets/bg-pattern-header.svg) no-repeat;
    background-size: cover;
    height: 130px;
}

nav {
    display: flex;
    padding: 40px 10%;
    justify-content: space-between;
}

.switch {
    display: inline-flex;
    margin: 0 10px;
  }
  .switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch input[type=checkbox]:checked + label {
    background: #fff;
  }
  .switch input[type=checkbox]:checked + label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
  .switch label {
    cursor: pointer;
    width: 58px;
    height: 24px;
    margin: 0 10px 0 5px;
    background: #fff;
    display: block;
    border-radius: 24px;
    position: relative;
  }

  span img:first-child {
      margin-top: 2px;
      
  }


  .switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: royalblue;
    border-radius: 16px;
    transition: 0.3s;
  }


@media (min-width: 601px) {
    header {
        background: url(../../assets/desktop/bg-pattern-header.svg) no-repeat;
        background-size: cover;
        border-radius: 0 0 0 80px;
    }
}