.Job {

    margin: 5% 0 0 0;
    min-height: 100vh;
}

.Job p {
    color: lightslategray;
}

section.CompanySite {
    display: flex;
    margin: 0 15%;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
   
}

.Logo img {

    width: 130px;
    height: 130px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    object-fit: contain;
}
 
.CompanyWebsite {
    margin-left: 4%;
    width: 60%;
    margin-top: 4%;
}

.CompanyWebsite a {
    text-decoration: none;
    color: darkgray;
}

.CompanySite button {
    margin: 50px 30px;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    font-weight: 600;
    font-size: 16px;
    border: none;
    color: royalblue;
}

button:hover {
    background-color:lightblue;
}

button a {
    text-decoration: none;
}


.JobDetail {
    margin: 30px 15%;
    background-color: #fff;
    padding: 40px 20px;
}

.JobDetail p {
    font-size: 18px;
}

.JobDetail li {
    font-size: 16px;
    margin: 20px 0 20px 0;
    color: lightslategray;
}

ul, ol {
    margin-top: 40px;
    padding: 0 20px;
}

.JobApply {
    display: flex;
    justify-content: space-between;
}

.JobApply button {
    padding: 10px 60px;
    background-color: royalblue;
    color: #fff;
    border: 1px solid royalblue;
    border-radius: 3px;
}

.JobApply button:hover {
    background-color: lightsteelblue;
}

.JobPosted {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

h6 {
    font-size: 16px;
    margin: 0;
    color: royalblue;
}

.Requirement, .Role{
    margin-top: 60px;
}

.Footer {
    background-color: #fff;
    display: flex;
    padding: 0 15%;
    justify-content: space-between;
}

.Footer h1 {
    font-size: 25px;
    margin-top: 20px;
}

.Footer p {
    font-size: 20px;
    margin: 0;
    margin: 0 0 20px 0;
}

.Footer button {
    padding: 10px 60px;
    background-color: royalblue;
    color: #fff;
    border: 1px solid royalblue;
    margin-top: 30px;
}

.Footer button:hover {
    background-color: lightsteelblue;
}

@media (max-width: 840px ) {
    
    Section.CompanySite {

        display: block;
        text-align: center;
        margin: 10% 5% 30px 5%;
    }

    .Logo {
        margin: auto;
        border-radius: 10px;
        width: 60px;
        position: relative;
        bottom: 25px;
    }

    .Logo img {
        width: 45px;
        height: 40px;
        padding: 10px 7px;
        margin: auto;
        border-radius: 10px;
        object-fit: contain;
        
    }

    .CompanyWebsite {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .CompanySite button {
        margin: 10px 0 30px 0;
    }

    .JobDetail {
        margin: 20px 5%;
    }

    .JobApply {
        display: block;
    }

    .JobApply button {
        width: 100%;
        margin: 30px 0;
        font-weight: bold;
    }

    .FooterDetail {
        display: none;
    }

    .Footer {
        padding: 0;
        display: block;
        padding: 0 3% 5% 3%;
    }

    .Footer button {
        width: 100%;
        font-weight: bold;
        border-radius: 5px;
        
    }
}